.dropbtn{
    background-color: rgba(255, 246, 246, 0);
    color: rgb(0, 255, 157);
    padding: 12px;
    font-size: 20px;
    border: none;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: wheat;
    min-width: 100%;
    box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.9)
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: white;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .dropbtn{
    background-color: rgb(0, 0, 0);
}