body{
    background-color: blanchedalmond;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
.header{
    text-align: center;
    text-align: top;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: cadetblue;
}
.slidebar{
    width: 200px;
    background-color: lightgreen;
    padding: 20px;
    position: sticky;
    top: 10px;
    font-size: 18px;
    margin-top: 1%;
}
.content{
   margin-left: 250px;
   padding: 20px;
   color: brown;
   background-color: burlywood;
}