body{
    margin: 0%;
    padding: 0%;
    height: 2000px;
}
.nav{
    position: sticky;
    top: 0;
    background-color: #73dbc1;
    padding: 10px;
    text-align: center;

}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
.nav li{
    float: left;
    margin-left: 5%;
}
.nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.nav li:hover{
    background-color: plum;
}
.repeating-image{
    background-image: url(https://cdn.shopify.com/s/files/1/0086/0795/7054/files/Labrador.jpg?v=1645179151);
    background-repeat: repeat-x;
}
.repeating-image img{
    width: 75px;
    height: 75px;
}