 /*Universal Selector (*) */
*{
    margin-top: 50px;
    padding: 0;
}

/*pseudo-element (::before and ::after) */
h1::before{
    content:" ⭐ ";
    color: gold;
}
h1::after{
    content:" ⭐ ";
    color: gold;
}
p::first-letter{font-size: 2em;}

/*Descendant Selector (space between selectors)*/
.container p{
    color: blue;
    font-size: 16px;
    margin: 10px 0;}

/*Child Selector (>)*/
    .container > p{
    color: green;
    font-size: 20px;
}

/*Adjacent Sibling Selector*/
h1+p{
    font-weight: bold;
    background-color: burlywood;
}

/*General Sibling Selector*/
h1~p{
    font-style: italic;
}