.container{
    width:400px;
    height:400px ;
    border: 2px solid black;
    position: relative;
    margin: 20px auto;
}

.Box1{
    width: 100px;
    height: 100px;
    background-color: lightcoral;
    position: absolute;
    top: 20px;
    left: 30px;
}

.Box2{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.Box3{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}